body {
    margin: 0;
    background: plum;
    text-align: center;
}
.container
{
    margin: 150px auto;
    width: 50%;
    padding: 8px;
}

img
{
    float: left;
    width: 480px;
    height: 480px;
    padding: 0 10px 0 0;
}

.text
{
    text-align: justify;
    font-family: Verdana;

}