*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman',sans-serif;
}
::selection{
  color: #674;
  background: #fff;
}

nav{
  position: fixed;
  top: 0px;
  background: #1b1b1b;
  width: 100%;
  padding: 10px;
  z-index: 1;
}
nav .menu{
  max-width: 1400px;
  margin: auto;                    /* aligns it with the body */
  display: flex;                   
  align-items: center;
  justify-content: space-between; /* creates space in between 'kj website' and your lists */
  padding: 0px;                   /* define there is no padding here/resets the page default padding for the nav.menu*/
}
.menu .logo a{
  text-decoration: none;
  color: rgb(198, 123, 205);
  font-size: 35px;
  font-weight: 600;             /* bold text */
}
.menu ul{
  display: inline-flex;         /*make the list in line*/
}
.menu ul li{
  list-style: none;             /*remove additional appearance in the list*/
  margin-left: 10px;
}
.menu ul li:first-child{
  margin-left: 0px;
}
.menu ul li a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  /* background: red; */
  padding: 8px 15px;
  border-radius: 10px;
  transition: all 0.2s ease;
}
.menu ul li a:hover,
.menu ul a.active{
  background: none;
  color: rgb(198, 123, 205);
}

.menu .menu-btn i{
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

#click{
  display: none;
}


@media (max-width: 940px){
  .menu ul{
    position: fixed;
    top: 80px;
    left: -100%; /* SEE left portion of x percent */
    background: rgb(0, 0, 0);
    height: 100vh;
    width: 100%;
    display: block;
    transition: all 0.3s ease;
  }

  .menu ul li{ /* put all text in the center */
    margin: 40px 0;
    text-align: center;
  }
  .menu ul li a{
    font-size: 40px;
    display: block; /* block element fills the entire line, nothing can be dispalyed on its left or right */
  }

  .menu .menu-btn i{
    display: block;
  }

  #click:checked ~ .menu-btn i:before{
    content: "\f062";
  }

  #click:checked ~ ul{ /* "~" is used to seelct all the second sequences which are precded by the firwst sequence */
    /* "#" is used to select a specific element with a unique ID*/
    left: 0%;
  } 

}


.img{
  background: url('images/winter.jpg')no-repeat;
  width: 100%;
  height: 100%; 
  background-size: cover;
  background-position: center;
  position: relative;
}

.img::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.center{
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.center .title{
  color: rgb(255, 255, 255);
  font-size: 55px;
  font-weight: 600;
}
.center .sub_title{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.center .btns{
  margin-top: 20px; /* create space between btns and titles*/
}

.center .btns button{
  height: 55px;
  width: 170px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  border: 2px solid white;
  font-size: 20px;
  font-weight: 700;
  padding: 0 10px;
  cursor: pointer; /* mouse cursor to be displayed when pointing over an element. */
  outline: none;
  transition: all 0.3s ease;
}

.center .btns button:nth-child(1){
  color: rgb(25, 0, 248);
  background: none;
}
.btns button:nth-child(1):hover{
  background: white;
}

.center .btns button:nth-child(2){
  color: rgb(255, 0, 64);
  background: none;
}

.btns button:nth-child(2):hover{
  background: white;
}

.center .btns button:nth-child(3){
  color: rgb(56, 232, 74);
  background: none;
}

.btns button:nth-child(3):hover{
  background: white;
}

/*skills.html*/
.mytabs{
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 100px auto;
  padding: 25px;
}
.mytabs input[type="radio"]{
  display:none;
}
.mytabs label{
  border-radius: 15px;
  padding: 25px;
  background:rgb(74, 72, 73);
}

.mytabs .tab{
  width: 100%;
  padding: 20px;
  background:white;
  order: 1; /* flex box */
  display: none;
}
.mytabs .tab h2{
  font-size: 2em;
}

.mytabs input[type ='radio']:checked + label + .tab{ /* "+" sign is going to look for the next element (label, then tab)*/
  display: block;
}

.mytabs input[type='radio']:checked + label {
  background:white;
}

/*contact.html*/
/* Style inputs with type="text", select elements and textareas */
input[type=text], input[type=email], select, textarea{
  max-width: 400px; /* Full width */
  padding: 4px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 5px; /* Add a top margin */
  margin-bottom: 12px; /* Bottom margin */
  resize: horizontal /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.mycontact {
  text-align: center;
  margin: auto;
  max-width: 500px;
  margin-top: 100px;
  border-radius: 5px;
  background-color: #995050;
  padding: 50px;
}